.flex{
    display: flex;
    align-items: center;
    gap : 4rem;
}


.nav{
    display: flex;
    width: 60rem;
    align-items: center;
    background-color: gray;
    padding: 0 0 0 2rem;
    text-align: center;
    gap: 5rem;
}

.imgh{
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
}

.flex{
    justify-content: center;
    padding: 1rem;
}

@media  screen and (max-width: 768px) {
    .flex,.nav{
        display: grid;
        align-items: center;
        justify-content: center;
        width: auto;
        gap: 1rem;
    }
}