.flex-con{
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.heading-shop,.head-shop{
    padding: 0.5rem 0 0.5rem 0;
}

.img-shop{
    border-radius: 100%;
    width: 70%;
    height: 70%;
}